.social-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  max-width: 50px;
  min-height: 300px;
  font-size: 30px;
  color: var(--white-flash);
  position: absolute;
  right: 40px;
  z-index: 30 ;
}

.social-nav i:hover {
  color: var(--bg-letter);
  cursor: pointer;
  text-transform: lowercase;
  position: relative;
}

.social-nav i::after {
  position: absolute;
  top: 5px;
  left: -160px;
  font-size: 10px;
  background-color: rgb(255, 255, 255);
  padding: 4px;
  border-radius: 10px;
  text-transform: lowercase;
  color: #290101;
  transition: position 1s ease-in-out;
  width: 140px;
  text-align: center;
}

.social-nav:has(.fa-instagram:hover) .fa-instagram::after {
  content: "@trainerdevesh";
}

.social-nav:has(.fa-twitter:hover) .fa-twitter::after {
  content: "@trainerdevesh";
}
.social-nav:has(.fa-linkedin-in:hover) .fa-linkedin-in::after {
  content: "@deveshwadibhasme";
}
.social-nav:has(.fa-envelope:hover) .fa-envelope::after {
  content: "deveshwadibhasme.12@";
}
.social-nav:has(.fa-github:hover) .fa-github::after {
  content: "deveshwadibhasme";
}

/* Responsive */
@media (max-width: 600px) {
  .social-nav {
    font-size: 20px;
    right: 20px;
    justify-content: center;
    gap: 40px;
    z-index: 8;
  }
  .social-nav i::after {
    top: 2px;
    left: -130px;
    font-size: 8px;
    padding: 3px;
    width: 120px;
    text-align: center;
  }
}
